<section id="education" class="simple-text">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Education</h2>
        <hr class="small">
      </div>
    </div>

    <div class="row">      
      <div class="col-md-5 text-left">
        <h3>The Chinese University of Hong Kong</h3>
        <p class="lead">September 2016 - May 2021 (Expected)</p>
      </div>
      <div class="col-md-7 text-left">        
        <h4>Bachelor of Engineering in Mechanical and Automation Engineering</h4>
        <p>Coursework:</p>
        <ul>
          <li><a target="_blank" href="https://leelacceber.github.io/Projects/Coursework/Robot_Arm">Robotics</a> (Programmed a robot arm to fold a mini-sized shirt)</li>
          <li>Engineering design (Built a heart rate monitor using electronic components)</li>
          <li>Thermodynamics</li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-md-5 text-left">
        <h3>University of California Davis</h3>
        <p class="lead">January 2019 - June 2019</p>
      </div>
      <div class="col-md-7 text-left">        
        <h4>Major in Mechanical Engineering</h4>
        <p>Coursework:</p>
        <ul>
          <li><a target="_blank" href="https://leelacceber.github.io/Projects/Coursework/Crop_Wash">Product design, building and testing</a> (Build a crop wash station that reuses water)</li>
          <li>Electric circuits (Built a light sensor with amplifier, filter and output display)</li>
        </ul>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
