<section id="education" class="simple-text">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Education</h2>
      </div>
      <div class="col-md-5 text-left">
        <h3>The Chinese University of Hong Kong</h3>
        <h5>September 2016 - May 2021 (Expected)</h5>
      </div>
      <div class="col-md-7 text-left">        
        <h4>Bachelor of Engineering in Mechanical and Automation Engineering</h4>
        <p>Coursework:</p>
        <ul>
          <li>Robotics</li>
          <li>Engineering design</li>
          <li>Thermodynamics</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 text-left">
        <h3>University of California Davis</h3>
        <h5>January 2019 - June 2019 (Expected)</h5>
      </div>
      <div class="col-md-7 text-left">        
        <h4>Major in Mechanical Engineering</h4>
        <p class="lead">Coursework:</p>
        <ul>
          <li>Electric circuits</li>
          <li>Product design, building and testing</li>
        </ul>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
