<section id="experience_engineering" class="simple-text bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Experience (Engineering)</h2>
        <hr class="small">
      </div>
    </div>

    <div class="row">
      <div class="col-md-5 text-left">
        <h3>Smart Garden Project, CUHK </h3>
        <p class="lead">July 2020 - Present</p>
      </div>
      <div class="col-md-7 text-left">        
        <h4>Team Member</h4>
        <ul>
          <li><a href:"https://leelacceber.github.io/Projects/ECA/Smart_Garden">xxx<</a>/li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-md-5 text-left">
        <h3>Solar Plane Project, CUHK </h3>
        <p class="lead">November 2017 - December 2018</p>
      </div>
      <div class="col-md-7 text-left">        
        <h4>Team Member</h4>
        <ul>
          <li>Constructed solar-powered RC planes from scratch with 10 team members</li>
          <li>Designed and created SolidWorks files for 3D-printing and laser cutting </li>
          <li>Assembled planes by soldering electronic parts into a circuit board and fixing laser cut wood boards </li>
          <li>Tested multiple brands of solar cells to find the ones with highest efficiency</li>
          <li>Built planes of different structures and continuously modified the design to improve flight performance</li>
        </ul>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
