<section id="work" class="simple-text">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Experience (Others)</h2>
        <hr class="small">
      </div>
    </div>

    <div class="row">
      <div class="col-md-5 text-left">
        <h3><a target="_blank" href="https://www.gaia.org.hk/activity/earthwalker/">Affective Nature Education Elementary Tutor Training Course, Gaia Association</a></h3>
        <p class="lead">October 2019 - March 2020</p>
      </div>
      <div class="col-md-7 text-left">        
        <h4>Passed with 100% attendance</h4>
        <ul>
          <li>Attended lessons on nature education that focuses on experience and emotion</li>
          <li>Planned and held a one-day nature activity for families</li>
        </ul>
      </div>
    </div>

    <div class="row">      
      <div class="col-md-5 text-left">
        <h3><a target="_blank" href="https://zh-hk.facebook.com/cuhappycorner/">CUHK Student Cooperative</a></h3>
        <p class="lead">October 2016 - December 2018</p>
      </div>
      <div class="col-md-7 text-left">        
        <h4>Core Member</h4>
        <ul>
          <li>Ran and managed a store in campus that promotes green living and supports local community </li>
          <li>Launched various environmental campaigns to raise environmental consciousness and solve waste problems in campus </li>
          <li>Created and updated an online system for recording transactions and daily balance, replacing handwritten ones </li>
          <li>Communicated with local, mainland and international students to explain to them the complex values of our store</li>
          <li>Chatted with and introduced our store to customers, including local, mainland and international students</li>
          <li>Generated detailed reports, minutes and agenda</li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-md-5 text-left">
        <h3><a target="_blank" href="https://zh-hk.facebook.com/forestconservationhk/">Forest Conservation Ambassador Scheme, Outdoor Wildlife Learning Hong Kong</a></h3>
        <p class="lead">October 2017 - July 2018</p>
      </div>
      <div class="col-md-7 text-left">        
        <h4>Tutor</h4>
        <ul>
          <li>Organise forest conservation activities for secondary school students</li>
          <li>Mentored 4 secondary school students and took them to field trips to teach them about forest conservation</li>
        </ul>
      </div>      
    </div>

    <div class="row">      
      <div class="col-md-5 text-left">
        <h3><a target="_blank" href="https://www.facebook.com/CUAgro/">Agricultural Development Group, CUHK</a></h3>
        <p class="lead">October 2016 - January 2018</p>
      </div>
      <div class="col-md-7 text-left">        
        <h4>Committee Member</h4>
        <ul>
          <li>Organised agriculture-related activities to raise environmental consciousness</li>
          <li>Managed a year-long campus agriculture programme with over 40 participants </li>
          <li>Interacted with school departments for cooperation</li>
        </ul>
      </div> 
    </div>

    <div class="row">      
      <div class="col-md-5 text-left">
        <h3><a target="_blank" href="https://ecobus.org.hk/greengoer/">Student Environmental Protection Leader Training Scheme, Ecobus</a></h3>
        <p class="lead">October 2016 - July 2017</p>
      </div>
      <div class="col-md-7 text-left">        
        <h4>Group Leader</h4>
        <ul>
          <li>Organised an orienteering competition in an eco-friendly way </li>
          <li>Coordinated a team of 10 members that is responsible for promotion, application, souvenirs and others </li>
          <li>Developed an automatic scoring system that saved manpower</li>
          <li>Created a website for promotion and information dissemination</li>        </ul>
      </div> 
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
