<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
<nav id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
    <li class="sidebar-brand">
      <a href="https://leelacceber.github.io/web6/#top" onclick = $("#menu-close").click(); >Home</a>
    </li>
    <li>
      <a href="https://leelacceber.github.io/web6/#header" onclick = $("#menu-close").click(); >Profile</a>
    </li>
    <li>
      <a href="https://leelacceber.github.io/web6/#education" onclick = $("#menu-close").click(); >Education</a>
    </li>
    <li>
      <a href="https://leelacceber.github.io/web6/#work" onclick = $("#menu-close").click(); >Work</a>
    </li>
    <li class="sidebar-brand">
      <a href="https://leelacceber.github.io/web6/#skills" onclick = $("#menu-close").click(); >Skills</a>
    </li>    
    <li class="sidebar-brand">
      <a href="https://leelacceber.github.io/web6/#experience_engineering" onclick = $("#menu-close").click(); >Experience</a>
    </li>
    <li>
      <a href="https://leelacceber.github.io/web6/#experience_engineering" onclick = $("#menu-close").click(); >Engineering</a>
    </li>
    <li>
      <a href="https://leelacceber.github.io/web6/#experience_others" onclick = $("#menu-close").click(); >Others</a>
    </li>
    <li class="sidebar-brand">
      <a href="https://leelacceber.github.io/web6/#interests" onclick = $("#menu-close").click(); >Interests</a>
    </li>
    <li class="sidebar-brand">
      <a href="https://leelacceber.github.io/projects/" onclick = $("#menu-close").click(); >Projects</a>
    </li>
  </ul>
</nav>
