<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
<nav id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
    <li class="sidebar-brand">
      <a href="#top" onclick = $("#menu-close").click(); >Rebecca Lee</a>
    </li>
    <li>
      <a href="#education" onclick = $("#menu-close").click(); >Education</a>
    </li>
    <li>
      <a href="#work" onclick = $("#menu-close").click(); >Work</a>
    </li>
    <li>
      <a href="#skills" onclick = $("#menu-close").click(); >Skills</a>
    </li>    
    <li>
      <a href="#experience_engineering" onclick = $("#menu-close").click(); >Experience</a>
    </li>
    <li style="padding-left:10px;">
      <a href="#experience_engineering" onclick = $("#menu-close").click(); >Engineering</a>
    </li>
    <li style="padding-left:10px;">
      <a href="#experience_others" onclick = $("#menu-close").click(); >Others</a>
    </li>
    <li>
      <a href="#projects" onclick = $("#menu-close").click(); >Projects</a>
    </li>
    <li>
      <a href="#footer" onclick = $("#menu-close").click(); >Contact</a>
    </li>
  </ul>
</nav>
