<section id="projects" class="simple-text, bg-primary">
  <div class="container">
    
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Projects</h2>
        <hr class="small">
      </div>
    </div>

    <div class="row">
      <div class="col-sm-5 col-sm-offset-1 col-md-3 col-md-offset-0">
        <a href="https://leelacceber.github.io/Projects/Coursework/Crop_Wash">
          <img class="img-portfolio img-responsive" src="img/crop wash.png">
          <div class="col-md-12">
            <p class="text-center" style="font-size:18px">Water Reuse System for Crop Wash Station</p>
          </div>
        </a>
      </div>

      <div class="col-sm-5 col-md-3">
        <a href="https://leelacceber.github.io/Projects/Coursework/Robot_Arm">
          <img class="img-portfolio img-responsive" src="img/robot arm.jpg">
          <div class="col-md-12">
            <p class="text-center" style="font-size:18px">Shirt-Folding Robot Arm</p>
          </div>
        </a>
      </div>
      
      <div class="w-100 d-block d-md-none"></div>
      
      <div class="col-sm-5 col-md-3">
        <a href="https://leelacceber.github.io/Projects/ECA/Smart_Garden">
          <img class="img-portfolio img-responsive" src="img/smart garden.jpeg">
          <div class="col-md-12">
            <p class="text-center" style="font-size:18px">Automatic Gardening Kit</p>
          </div>
        </a>
      </div>

      <div class="col-sm-5 col-md-3">
        <a href="https://leelacceber.github.io/Projects/Personal/Table">
          <img class="img-portfolio img-responsive" src="img/table.jpeg">
          <div class="col-md-12">
            <p class="text-center" style="font-size:18px">Cutomised Table by Upcycling</p>
          </div>
        </a>
      </div>
      
    </div>        
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
