<section id="skills" class="simple-text">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Skills</h2>
        <hr class="small">
      </div>
    </div>
    
    <div class="row">      
      <div class="col-xs-12 col-sm-3 col-sm-offset-2 text-center">
        <h3>Technical</h3>
        <div class="row text-left">
            <h4>SolidWorks ▪ Fusion 360</h4>
            <h4>Arduino ▪ C++</h4>
            <h4>MATLAB ▪ Simulink</h4>
            <h4>Microsoft Office</h4>          
        </div>
      </div>
      <div class="col-sm-3 col-sm-offset-2 text-center">        
        <h3>Language</h3>
        <div class="row">
          <div class="col-xs-8 text-left">        
            <h4>Cantonese</h4>
          </div>
          <div class="col-xs-4 text-left">        
            <h5>Native</h5>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-8 text-left">        
            <h4>English</h4>
          </div>
          <div class="col-xs-4 text-left">        
            <h5>Fluent</h5>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-8 text-left">        
            <h4>Mandarin</h4>
          </div>
          <div class="col-xs-4 text-left">        
            <h5>Proficient</h5>
          </div>
        </div>
      </div>
    </div>    
    
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Certifications</h2>
        <hr class="small">
      </div>
    </div>
    
    <div class="row">      
      <div class="col-md-5 text-left">
        <h3>Hong Kong Red Cross</h3>
      </div>
      <div class="col-md-7 text-left">        
        <h4>Certificate in First Aid</h4>
      </div>
    </div>
    <div class="row">      
      <div class="col-md-5 text-left">
        <h3>The Mental Health Association of Hong Kong</h3>
      </div>
      <div class="col-md-7 text-left">        
        <h4>Mental Health First Aid Certificate</h4>
      </div>
    </div>
    <div class="row">      
      <div class="col-md-5 text-left">
        <h3>Occupation Safety & Health Council</h3>
      </div>
      <div class="col-md-7 text-left">        
        <h4>Fire Prevention (Commercial) Training Certificate</h4>
      </div>
    </div>
    <div class="row">      
      <div class="col-md-5 text-left">
        <h3>Gaia Association</h3>
      </div>
      <div class="col-md-7 text-left">        
        <h4>Affective Nature Education Elementary Tutor Training Certificate</h4>
      </div>
    </div>
  </div>    
    
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
