<section id="work" class="simple-text bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Work</h2>
      </div>
      <div class="col-md-5 text-left">
        <h3>CLP Power Limited </h3>
        <p class="lead">July 2019 - July 2020</p>
      </div>
      <div class="col-md-7 text-left">        
        <h4>Sandwich Intern (Full-time)</h4>
        <ul>
          <li>Create concise and visually appealing presentations, bulletins and notices to pass information to colleagues</li>
          <li>Communicate with staff in different departments or companies to achieve various tasks</li>
          <li>Hold and take minutes for meetings</li>
          <li>xxx</li>
        </ul>
      </div>
      <div class="col-md-5 text-left">
        <h3>Greeners Action</h3>
        <p class="lead">November 2017 - December 2018</p>
      </div>
      <div class="col-md-7 text-left">        
        <h4>Part-time assistant</h4>
        <ul>
          <li>Held workshops for primary and secondary school students, in groups of various size, on making compost with food waste</li>
        </ul>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
