<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

<body>

  {% include navigation.html %}
  {% include header.html %}
  {% include education.html %}
  {% include work.html %}
<!--
  {% include experience_engineering.html %}
  {% include experience_others.html %}
  {% include experience_volunteering.html %}
  {% include interests.html %} -->
  {% include services.html %}
  {% include callout.html %}
  {% include portfolio.html %}
  {% include call-to-action.html %}
  {% include footer.html %}
  {% include scripts.html %}
  
</body>

</html>
