<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body>

    {% include navigation.html %}


    
    
<section id="education" class="simple-text">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>{{ page.title }}</h2>
        <hr class="small">
        {{ content }}
      </div>
    </div>    
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>    
    

    
    

  {% include footer.html %}
  {% include scripts.html %}


  </body>
</html>
